.main-container {
  margin: 0 auto;
  max-width: 1400px;
}

.search-bar-container {
  max-width: 500px;
  margin: 50px auto;
}

.search-bar-container .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}