h1 {
  text-align: center;
}

.main-container {
  margin: 0 auto;
  max-width: 1400px;
}

.search-bar-container {
  max-width: 500px;
  margin: 50px auto;
  border: 2px solid #888181;
  border-radius: 5px;
}

.search-bar-container .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  background: none;
  border: none;
  outline: none;
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  margin: 10px;
  text-align: center;
}